.mythead::before {
  content: "";
  display: block;
  
  
  border: 1px solid black;
  position: absolute;
  left: 0;
  right: 0;
  top: 1;
  pointer-events: none; 
}
.myForm {
 border:2px solid rgb(144, 144, 144);
border-radius: 2px;
}
/* styles.css */
/* .myForm::-webkit-scrollbar {
  width: 5px;
}

.myForm::-webkit-scrollbar-track {
  background: #eaeaea;
  border-radius: 0px;
}

.myForm::-webkit-scrollbar-thumb {
  background-color: #2a4054;
  border-radius: 0px;
}

.myForm::-webkit-scrollbar-thumb:hover {
  background: #555;
}
 */
                
.bgHead {
background: #9ca1a6;
border:none;
color:white
}
