@media (max-width: 425px) {
  .modalLabel {
    font-size: 13px;
    margin-top: 5px;
    font-weight: 500;
  }
  .modalContainer {
    padding: 5px;
  }
  .modalInput {
    border-radius: 3px;
    padding: 3px;
    font-size: 14px;
  }
}
.mainHeading {
  font-size: 1.5em;
}
.formHeading {
  font-size: 1em;
  font-weight: bold;
}

/*------------point table css-----------*/
/* 
.pointTable{
  border: 1px solid black;
  width: 75vw;
}
.tableHeader{
  border-bottom: 1px solid black;
  color: white;
  background-color: #172e44;
}
.headText{
  border-left: 1px solid white;
}
.ponitHeadingRow{
  border-bottom: 1px solid black;
  text-align: center;
  background: yellow;
}
.pointHeading{
  font-size: 15px;
  
}
.subheadingRow{
  border-bottom: 1px solid black;
}
.subheadingRow td{
  padding: 6px;
  border-right: 1px solid black;
} */

select.pointsDropdown {
  border: 1px solid black;
  margin-left: 4px;
  border-radius: 2px;
  outline: none;
  text-align: center;
  appearance: none; /* Most modern browsers */
  -webkit-appearance: none; /* Safari, Chrome */
  -moz-appearance: none; /* Firefox */
  background: none;
  font-size: 12px;
  padding: 0 4px;
 /*  background-color: rgba(254, 154, 236, 0.227); */
}

select.pointsDropdown:focus {
  border-color: blue;
}

.fileInputBox {
  border: 1px solid black;
  margin-left: 4px;
  border-radius: 2px;
  outline: none;
  text-align: center;
  min-width: 100px;
  max-width: 150px;
  padding: 0 1px;
  font-size: 12px;
  cursor: pointer;
  
}


.page {
  display: flex;
  justify-content: space-between;
}

.left-content {
  animation: slideInFromLeft 1s ease-out forwards;
}

.right-content {
  animation: slideInFromRight 1s ease-out forwards;
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.fade-in {
   opacity: 0;
  animation: fadeIn 1s ease-in forwards;
  animation-delay: 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}




